html, body {
  font-size: 20px;
  height: 100%;
  width: 100%;
}
#root {
  width: 100%;
  height: 100%;
}

@import './mixins.scss';
.display-content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 50px;
  @include max-screen(800px){
    width: 90%;
  }
}


